<footer class="main-footer">
    <div class="footer-top">
      <div class="footer-logo">
        <img src="images/dist/logo.svg" alt ="" class="logo__img">
      </div>
      <ul class="footer-main-menu">
        <li class="footer-main-menu__item">
          <a href="subscriptions.html" class="footer-main-menu__link">ГАЛЕРЕЯ</a>
        </li>
        <li class="footer-main-menu__item">
          <a href="trainers.html" class="footer-main-menu__link">ТРЕНЕРЫ</a>
        </li>
        <li class="footer-main-menu__item">
          <a href="contacts.html" class="footer-main-menu__link">КОНТАКТЫ</a>
        </li>
      </ul>
    </div>

    <div class="footer-bottom">
      <p class="footer-text">(c) SportArea 2024. Все права защищены.</p>
      
    </div>
  </footer>