<header class="main-header">
    <nav class="main-header__navigation">
        <ul class="main-menu">
            <li class="main-menu__item">
                <a href="/index" class="main-menu__link">ГЛАВНАЯ</a>
            </li>
            <li class="main-menu__item">
                <a href="trainers.html" class="main-menu__link">ТРЕНЕРЫ</a>
            </li>
            <li class="main-menu__item">
                <a href="contacts.html" class="main-menu__link">КОНТАКТЫ</a>
            </li>
        </ul>
    </nav>

    <ul class="main-menu__soc-links">
        <a href="https://vk.com/skzvz" class="main-menu__soc-links__link" target="_blank">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M17.92 15.3175H16.0183C15.2992 15.3175 15.0825 14.735 13.7933 13.445C12.6667 12.3591 12.1908 12.2241 11.9058 12.2241C11.5117 12.2241 11.4042 12.3325 11.4042 12.875V14.585C11.4042 15.0475 11.2542 15.3183 10.0458 15.3183C8.87358 15.2395 7.7368 14.8834 6.72914 14.2792C5.72148 13.6751 4.87177 12.8402 4.25 11.8433C2.77366 10.0058 1.74642 7.84919 1.25 5.54495C1.25 5.25995 1.35833 5.00162 1.90167 5.00162H3.80167C4.29 5.00162 4.46583 5.21912 4.6575 5.72162C5.58 8.43662 7.15417 10.7983 7.79333 10.7983C8.03833 10.7983 8.145 10.69 8.145 10.0791V7.28245C8.06417 6.00662 7.38667 5.89912 7.38667 5.43745C7.39524 5.31565 7.45095 5.20199 7.54198 5.12061C7.63301 5.03923 7.75217 4.99655 7.87417 5.00162H10.8608C11.2692 5.00162 11.4042 5.20495 11.4042 5.69329V9.46829C11.4042 9.87579 11.5792 10.0108 11.7025 10.0108C11.9475 10.0108 12.1358 9.87579 12.585 9.42745C13.5478 8.25327 14.3344 6.94509 14.92 5.54412C14.9799 5.37591 15.0933 5.23193 15.2427 5.13413C15.3921 5.03634 15.5694 4.99009 15.7475 5.00245H17.6483C18.2183 5.00245 18.3392 5.28745 18.2183 5.69412C17.527 7.2428 16.6715 8.71287 15.6667 10.0791C15.4617 10.3916 15.38 10.5541 15.6667 10.9208C15.855 11.2058 16.5217 11.7625 16.9692 12.2916C17.6208 12.9416 18.1617 13.6933 18.5708 14.5166C18.7342 15.0466 18.4625 15.3175 17.92 15.3175Z"
                    fill="#333333" />
            </svg>
        </a>
        <a href="https://web.telegram.org/a/" class="main-menu__soc-links__link" target="_blank">
            <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15.4809 0.691638C15.6868 0.604963 15.9122 0.57507 16.1336 0.605069C16.355 0.635067 16.5643 0.723861 16.7398 0.862209C16.9152 1.00056 17.0504 1.1834 17.1312 1.39171C17.212 1.60001 17.2355 1.82617 17.1992 2.04664L15.3092 13.5108C15.1259 14.6166 13.9125 15.2508 12.8984 14.7C12.05 14.2391 10.79 13.5291 9.6567 12.7883C9.09004 12.4175 7.3542 11.23 7.56754 10.385C7.75087 9.66247 10.6675 6.94747 12.3342 5.3333C12.9884 4.69914 12.69 4.3333 11.9175 4.91664C9.9992 6.36497 6.9192 8.56747 5.90087 9.18747C5.00254 9.73414 4.5342 9.82747 3.9742 9.73414C2.95254 9.56414 2.00504 9.3008 1.2317 8.97997C0.186703 8.54664 0.237537 7.10997 1.23087 6.69164L15.4809 0.691638Z"
                    fill="#333333" />
            </svg>

        </a>
        <a href="https://www.whatsapp.com/?lang=ru_RU" class="main-menu__soc-links__link" target="_blank">
            <svg width="20" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9.00083 0.666626C13.6033 0.666626 17.3342 4.39746 17.3342 8.99996C17.3342 13.6025 13.6033 17.3333 9.00083 17.3333C7.52812 17.3358 6.08131 16.9461 4.80916 16.2041L0.670827 17.3333L1.79749 13.1933C1.05496 11.9207 0.664912 10.4733 0.667493 8.99996C0.667493 4.39746 4.39833 0.666626 9.00083 0.666626ZM6.16083 5.08329L5.99416 5.08996C5.8864 5.09738 5.78112 5.12569 5.68416 5.17329C5.59381 5.22455 5.51129 5.28854 5.43916 5.36329C5.33916 5.45746 5.28249 5.53913 5.22166 5.61829C4.91343 6.01905 4.74747 6.51105 4.74999 7.01663C4.75166 7.42496 4.85833 7.82246 5.02499 8.19413C5.36583 8.94579 5.92666 9.74163 6.66666 10.4791C6.84499 10.6566 7.01999 10.835 7.20833 11.0008C8.12785 11.8103 9.22356 12.3941 10.4083 12.7058L10.8817 12.7783C11.0358 12.7866 11.19 12.775 11.345 12.7675C11.5876 12.7547 11.8246 12.689 12.0392 12.575C12.1482 12.5186 12.2547 12.4574 12.3583 12.3916C12.3583 12.3916 12.3936 12.3677 12.4625 12.3166C12.575 12.2333 12.6442 12.1741 12.7375 12.0766C12.8075 12.0044 12.8658 11.9205 12.9125 11.825C12.9775 11.6891 13.0425 11.43 13.0692 11.2141C13.0892 11.0491 13.0833 10.9591 13.0808 10.9033C13.0775 10.8141 13.0033 10.7216 12.9225 10.6825L12.4375 10.465C12.4375 10.465 11.7125 10.1491 11.2692 9.94746C11.2228 9.92726 11.1731 9.91568 11.1225 9.91329C11.0655 9.90733 11.0078 9.91369 10.9535 9.93195C10.8991 9.95021 10.8493 9.97994 10.8075 10.0191C10.8033 10.0175 10.7475 10.065 10.145 10.795C10.1104 10.8414 10.0628 10.8765 10.0082 10.8958C9.95355 10.9151 9.89442 10.9177 9.83833 10.9033C9.78402 10.8888 9.73082 10.8704 9.67916 10.8483C9.57583 10.805 9.53999 10.7883 9.46916 10.7583C8.99072 10.5499 8.54786 10.2679 8.15666 9.92246C8.05166 9.83079 7.95416 9.73079 7.85416 9.63413C7.52634 9.32013 7.24062 8.96495 7.00416 8.57746L6.95499 8.49829C6.92021 8.44479 6.89169 8.38747 6.86999 8.32746C6.83833 8.20496 6.92083 8.10663 6.92083 8.10663C6.92083 8.10663 7.12333 7.88496 7.21749 7.76496C7.30916 7.64829 7.38666 7.53496 7.43666 7.45413C7.53499 7.29579 7.56583 7.13329 7.51416 7.00746C7.28083 6.43746 7.03972 5.87051 6.79083 5.30663C6.74166 5.19496 6.59583 5.11496 6.46333 5.09913C6.41833 5.09357 6.37333 5.08913 6.32833 5.08579C6.21643 5.07937 6.10424 5.08049 5.99249 5.08913L6.16083 5.08329Z"
                    fill="#333333" />
            </svg>

        </a>
    </ul>
</header>