.main-footer {
    width: 100%;
    padding: 0%;
    background-color: #fff;
}

/* Верхняя часть футера с логотипом и меню */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8% 0%;
}

.footer-logo {
    width: 100%;
    margin-left: 17%;
}

.footer-main-menu {
    display: flex;
    list-style: none;
    margin: 0%;
    padding: 0%;
    margin-right: 20%;
    align-items: left;
}

.footer-main-menu__item {
    margin: 0 7%;
}

.footer-main-menu__item:last-child {
    margin-right: 0%;
}

.footer-main-menu__link {
    text-decoration: none;
    color: #333;
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0%;
}

.footer-text {
    color: #fff;
    font-size: 14px;
    font-family: 'GraphikLCG-Regular', sans-serif;
    margin-left: 16.9%;
}

.form-container {
    pointer-events: auto;
}

@media (max-width: 650px) {
    
    .footer-main-menu{
        display: none;
    }
    .footer-logo{
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

}
@media (max-width: 550px) {
    

.footer-main-menu{
    display: none;
}
.footer-logo{
    align-items: center;
    text-align: center;
    margin-left: 0;
}
    




}