@font-face {
    font-family: 'GraphikLCG-Medium';
    src: url('fonts/GraphikLCG-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'GraphikLCG-Bold';
    src: url('fonts/GraphikLCG-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'GraphikLCG-Semibold';
    src: url('fonts/GraphikLCG-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'GraphikLCG-Regular';
    src: url('fonts/GraphikLCG-Regular.woff2') format('woff2');
}

body {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.main-header {
    position: fixed;
    /* Закрепляем элемент */
    top: 0%;
    /* Размещаем панель в верхней части экрана */
    right: 0%;
    left: 0%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.main-menu {
    display: flex;
    list-style: none;
    margin: 0%;
    padding: 0%;
    margin-left: 62.5%;
}

.main-menu__item {
    margin: 0 30px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #333;
    font-family: 'GraphikLCG-Semibold', sans-serif;
}

.main-menu__item:first-child {
    margin-left: 0%;
    font-size: 14px;
    letter-spacing: 2px;
    color: #333;
    font-family: 'GraphikLCG-Semibold', sans-serif;
}

.main-menu__link {
    text-decoration: none;
    color: #333;
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

.main-menu__soc-links {
    position: relative;
    /* Делаем элемент относительным, чтобы z-index работал */
    z-index: 2000;
    /* Социальные иконки будут выше панели */
    right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45%;
}

.left-bar {
    width: 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0%;
    bottom: 0%;
    z-index: 1000;
    pointer-events: none;
    /* Убираем кликабельность для всей панели */
}

.left-bar a {
    pointer-events: auto;
    /* Включаем кликабельность только для логотипа */
}

.button-call {
    pointer-events: auto;
    background-color: #333;
    color: white;
    border: none;
    padding: 16.6% 34%;
    cursor: pointer;
    transform: rotate(-90deg);
    /* Поворот кнопки */
    white-space: nowrap;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'GraphikLCG-Medium', sans-serif;
    position: absolute;
    /* Абсолютное позиционирование относительно панели */
    bottom: 9.2%;
    /* Отступ от нижнего края панели */
    font-size: 11px;
    letter-spacing: 1px;
    font-family: 'GraphikLCG-Medium', sans-serif;
}

.left-bar__logo {
    width: 100%;
    margin-top: 88%;
    /* Отступ сверху, чтобы логотип не прилегал к верхнему краю */
    transform: rotate(-90deg);
}

.callback-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Контейнер окна */
.callback-popup__content {
    background-color: #fff;
    padding: 20px;
    width: 30%;
    max-width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

/* Кнопка для закрытия */


/* Стили для формы */
.callback-form {
    display: flex;
    flex-direction: column;
}

.callback-form label {
    margin-top: 5%;
    text-align: left;
}

.callback-form input,
.callback-form textarea {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #333;
}

.callback-form textarea {
    resize: vertical;
}

.submit-button {
    margin-top: 15px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #333;
}

.close-btn {
    top: 10px;
    /* Отступ сверху */
    right: 10px;
    /* Отступ справа */
    cursor: pointer;
    /* Указатель, чтобы было понятно, что это кликабельный элемент */
    z-index: 10;
    /* Убедитесь, что крестик будет сверху */
}

.button-detail {
    background-color: white;
    color: #333;
    border: none;
    padding: 0.8% 1.4%;
    cursor: pointer;
    z-index: 3;
    /* Чтобы кнопка была выше, чем карусель */
    position: relative;
    /* Чтобы кнопка располагалась в документе */
    top: 70%;
    /* Плавный отступ вниз от списка */
    left: 16.8%;
    width: auto;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'GraphikLCG-Medium', sans-serif;
}

.first-screen {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.first-screen-bg {
    width: 100%;
    height: auto;
}

.first-screen__heading {
    position: absolute;
    /* Позиционируем заголовок поверх изображения */
    top: 30%;
    /* Размещаем по вертикали (вы можете настроить значение) */
    left: 0%;
    /* Выравнивание по левому краю */
    transform: translateY(-50%);
    /* Центрируем по вертикали */
    padding-left: 16.5%;
    /* Немного отступа слева, если нужно */
    color: white;
    z-index: 2;
    width: 50%;
    font-size: 60px;
    letter-spacing: 5px;
    font-family: 'GraphikLCG-Medium', sans-serif;
}

.first-screen__list {
    position: absolute;
    /* Позиционируем список поверх изображения */
    top: 49%;
    /* Размещаем ниже заголовка, вы можете настроить */
    left: 0%;
    /* Выравнивание по левому краю */
    padding-left: 18%;
    /* Немного отступа слева */
    color: white;
    z-index: 2;
    font-size: 16px;
    font-family: 'GraphikLCG-Regular', sans-serif;
}

.first-screen__item {
    margin-bottom: 4%;
    /* Отступ между пунктами */
}

.carousel-images {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.carousel-images img {
    width: 100%;
    height: auto;
    opacity: 0%;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0%;
    left: 0%;
}

.carousel-images img.active {
    opacity: 1;
}

.carousel-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.75);
    pointer-events: none;
    z-index: 1;
}

.about {
    padding: 10% 16.5% 0% 16.5%;
}

.about__heading {
    font-size: 30px;
    margin-left: 9%;
    font-family: 'GraphikLCG-Bold', sans-serif;
    color: #333;
}

.about__lead {
    margin-left: 40.5%;
    margin-top: -9.5%;
    margin-bottom: 4%;
    font-size: 17px;
    font-family: 'GraphikLCG-SemiBold', sans-serif;
    color: #333;
}

.about__paragraph {
    margin-left: 40.5%;
    font-size: 13px;
    font-family: 'GraphikLCG-Regular', sans-serif;
    color: #333;
}

/* Основные стили */
.category__heading {
    margin: 0% auto 4%;
    margin-left: 17%;
    color: #333;
    font-size: 20px;
    font-family: 'GraphikLCG-Medium', sans-serif;
}

.category__heading::before {
    content: '';
    display: block;
    height: 1px;
    background-color: #333;
    margin: 100px auto 30px;
    margin-right: 250px;
}

.category__heading::after {
    content: '';
    display: block;
    position: absolute;
    right: 250px;
    width: 10px;
    height: 10px;
    margin-top: -15px;
    background-color: #333;
}

.category__list {
    display: flex;
    gap: 2.2%;
    list-style: none;
    padding: 0%;
    flex-wrap: wrap;
    /* Разрешаем перенос на новую строку */
    margin-left: 17%;
    font-family: 'GraphikLCG-Regular', sans-serif;
    color: #333;
}

.category__item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    /* Элементы будут занимать 100% ширины родительского контейнера */
    max-width: 26.5%;
    /* Ограничение максимальной ширины элемента */
    flex-grow: 1;
    /* Элементы могут расширяться */
    transition: all 0.3s ease;
}

.category__img {
    width: 100%;
    /* Картинка будет адаптироваться под ширину родительского элемента */
    height: auto;
    /* Высота будет пропорционально изменяться */
    object-fit: cover;
    /* Картинка будет масштабироваться, сохраняя пропорции */
    transition: filter 0.3s ease, transform 0.3s ease;
    /* Плавное изменение яркости и масштаба */
}

/* Темнение картинки при наведении */
.category__item:hover .category__img {
    filter: brightness(50%);
    /* Темнение картинки */
}

/* Стили для списка */
.category__sub-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Центрируем по обеим осям */
    list-style: none;
    padding: 0%;
    margin: 0%;
    opacity: 0%;
    /* Скрываем список по умолчанию */
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    /* Плавное появление */
    line-height: 1.2;
    margin-bottom: 2.2%;
    width: 90%;
    text-align: left;
    /* Выравнивание текста по левому краю */
}

.category__item:hover .category__sub-list {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
    /* Плавное появление списка */
}

/* Появление каждого элемента списка по очереди */
.category__sub-item {
    font-size: 16px;
    color: white;
    font-family: 'GraphikLCG-Regular', sans-serif;
    margin: 0%;
    margin-bottom: 4.4%;
    opacity: 0;
    /* По умолчанию скрываем элементы списка */
    transition: opacity 0.3s ease-in-out;
    /* Выравнивание текста по левому краю */
    text-align: left;
    padding-left: 2.2%;
    /* Добавляем немного отступа для текста */
}

/* Элементы списка появляются по очереди */
.category__item:hover .category__sub-item:nth-child(1) {
    opacity: 1;
    transition-delay: 0.1s;
}

.category__item:hover .category__sub-item:nth-child(2) {
    opacity: 1;
    transition-delay: 0.2s;
}

.category__item:hover .category__sub-item:nth-child(3) {
    opacity: 1;
    transition-delay: 0.3s;
}

/* Стили для заголовка */
.category__sub-heading {
    color: #333;
    font-size: 16px;
    font-family: 'GraphikLCG-Regular', sans-serif;
    margin-bottom: 3.3%;
}

/* Медиазапросы для адаптации на разных экранах */
@media (max-width: 1024px) {
    .category__list {
        flex-direction: row;
        /* Элементы остаются в строку */
    }

    .category__item {
        max-width: 300px;
        /* Ограничение ширины элементов на экранах до 1024px */
    }
}

@media (max-width: 768px) {
    .category__list {
        flex-direction: column;
        /* Ставим элементы списка в столбик на экранах до 768px */
        margin-left: 0;
        /* Убираем отступ слева */
    }

    .category__item {
        max-width: 100%;
        /* На маленьких экранах элементы могут занимать всю ширину */
    }

    .category__heading {
        margin-left: 0;
        /* Убираем отступ слева для заголовков */
    }

    .category__img {
        height: 200px;
        /* Ограничиваем высоту изображений для маленьких экранов */
    }
}

@media (max-width: 480px) {
    .category__heading {
        font-size: 18px;
        /* Уменьшаем размер шрифта заголовков на маленьких экранах */
    }

    .category__sub-item {
        font-size: 14px;
        /* Уменьшаем размер шрифта пунктов списка */
    }

    .category__img {
        height: 180px;
        /* Дополнительное уменьшение высоты картинок на смартфонах */
    }
}

.videos {
    background-color: #333;
    padding-top: 7%;
}

.videos__heading {
    margin: 0% auto 4%;
    margin-left: 17%;
    color: #fff;
    font-size: 20px;
    font-family: 'GraphikLCG-Medium', sans-serif;
}

.videos__heading::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 30px auto 0px;
    margin-right: 250px;
}

.videos__heading::before {
    content: '';
    display: block;
    position: absolute;
    right: 250px;
    width: 10px;
    height: 10px;
    margin-top: 5px;
    background-color: #fff;
}

.videos__list {
    display: flex;
    gap: 1.8%;
    list-style: none;
    padding: 0%;
    margin: 0%;
    margin-left: 17%;
}

/* Элемент для каждого видео */
.videos__item {
    position: relative;
    /* Для абсолютного позиционирования иконки */
    width: 40.5%;
    /* Ширина каждого видео */
    text-align: center;
    /* Выравнивание текста по центру */
}

/* Превью изображения */
.videos__preview {
    width: 100%;
    /* Ширина изображения = ширине контейнера */
    height: auto;
    /* Сохраняем пропорции изображения */
}

.videos__item:hover .videos__preview {
    filter: brightness(50%);
    /* Затемнение изображения при наведении */
}

/* Кнопка плеера (иконка) */
.videos__play {
    position: absolute;
    /* Абсолютное позиционирование */
    top: 50%;
    /* Центрируем по вертикали */
    left: 50%;
    /* Центрируем по горизонтали */
    transform: translate(-50%, -50%);
    /* Совсем точно центрируем */
    background-color: transparent;
    border: none;
    /* Без обводки */
    border-radius: 50%;
    /* Круглая кнопка */
    padding: 0%;
    /* Отступы вокруг иконки */
    cursor: pointer;
    /* Указатель курсора */

    opacity: 0;
    /* Скрыта изначально */
    visibility: hidden;
    /* Скрыта изначально */
    pointer-events: none;
    /* Блокирует клики по скрытой кнопке */
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    /* Плавный переход */
}

.videos__item:hover .videos__play {
    opacity: 1;
    /* Появляется при наведении */
    visibility: visible;
    /* Видна при наведении */
    pointer-events: auto;
    /* Разрешаем клики по кнопке при видимости */
    transition: opacity 0.3s ease, visibility 0s 0s;
    /* Плавный переход */
}

/* Название видео */
.videos__video-heading {
    margin-top: 5%;
    /* Отступ от видео */
    font-size: 16px;
    /* Размер шрифта */
    color: white;
    /* Цвет текста */
    font-family: 'GraphikLCG-Regular', sans-serif;
    margin-bottom: 6%;
    text-align: left;
}