@font-face {
    font-family: 'GraphikLCG-Medium';
    src: url('fonts/GraphikLCG-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'GraphikLCG-Bold';
    src: url('fonts/GraphikLCG-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'GraphikLCG-Semibold';
    src: url('fonts/GraphikLCG-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'GraphikLCG-Regular';
    src: url('fonts/GraphikLCG-Regular.woff2') format('woff2');
}

body {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.main-header {
    position: fixed;
    /* Закрепляем элемент */
    top: 0%;
    /* Размещаем панель в верхней части экрана */
    right: 0%;
    left: 0%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.main-menu {
    display: flex;
    list-style: none;
    margin: 0%;
    padding: 0%;
    margin-left: 62.5%;
}

.main-menu__item {
    margin: 0 30px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #333;
    font-family: 'GraphikLCG-Semibold', sans-serif;
}

.main-menu__item:first-child {
    margin-left: 0%;
    font-size: 14px;
    letter-spacing: 2px;
    color: #333;
    font-family: 'GraphikLCG-Semibold', sans-serif;
}

.main-menu__link {
    text-decoration: none;
    color: #333;
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

.main-menu__soc-links {
    position: relative;
    /* Делаем элемент относительным, чтобы z-index работал */
    z-index: 2000;
    /* Социальные иконки будут выше панели */
    right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45%;
}

.left-bar {
    width: 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0%;
    bottom: 0%;
    z-index: 1000;
    pointer-events: none;
    /* Убираем кликабельность для всей панели */
}

.left-bar a {
    pointer-events: auto;
    /* Включаем кликабельность только для логотипа */
}

.button-call {
    pointer-events: auto;
    background-color: #333;
    color: white;
    border: none;
    padding: 16.6% 34%;
    cursor: pointer;
    transform: rotate(-90deg);
    /* Поворот кнопки */
    white-space: nowrap;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'GraphikLCG-Medium', sans-serif;
    position: absolute;
    /* Абсолютное позиционирование относительно панели */
    bottom: 9.2%;
    /* Отступ от нижнего края панели */
    font-size: 11px;
    letter-spacing: 1px;
    font-family: 'GraphikLCG-Medium', sans-serif;
}

.left-bar__logo {
    width: 100%;
    margin-top: 88%;
    /* Отступ сверху, чтобы логотип не прилегал к верхнему краю */
    transform: rotate(-90deg);
}

.callback-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Контейнер окна */
.callback-popup__content {
    background-color: #fff;
    padding: 20px;
    width: 30%;
    max-width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

/* Кнопка для закрытия */


/* Стили для формы */
.callback-form {
    display: flex;
    flex-direction: column;
}

.callback-form label {
    margin-top: 5%;
    text-align: left;
}

.callback-form input,
.callback-form textarea {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #333;
}

.callback-form textarea {
    resize: vertical;
}

.submit-button {
    margin-top: 15px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #333;
}

.close-btn {
    top: 10px;
    /* Отступ сверху */
    right: 10px;
    /* Отступ справа */
    cursor: pointer;
    /* Указатель, чтобы было понятно, что это кликабельный элемент */
    z-index: 10;
    /* Убедитесь, что крестик будет сверху */
}



.first-screen {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}



.first-screen__heading {
    position: absolute;
    /* Позиционируем заголовок поверх изображения */
    top: 20%;
    padding-left: 16.5%;
    color: white;
    z-index: 2;
    width: 45%;
    font-size: 65px;
    letter-spacing: 5px;
    font-family: 'GraphikLCG-Medium', sans-serif;
}

.first-screen__list {
    position: absolute;
    /* Позиционируем список поверх изображения */
    top: 55%;
    /* Размещаем ниже заголовка, вы можете настроить */
    left: 0%;
    /* Выравнивание по левому краю */
    padding-left: 18%;
    /* Немного отступа слева */
    color: white;
    z-index: 2;
    font-size: 20px;
    font-family: 'GraphikLCG-Regular', sans-serif;
}

.first-screen__item {
    margin-bottom: 5%;
    /* Отступ между пунктами */
}

.carousel-images {
    display: flex;
    overflow: hidden; /* Скройте все, что выходит за пределы контейнера */
    width: 100%; /* Убедитесь, что контейнер занимает всю ширину */
    height: 100%; /* При необходимости установите фиксированную высоту */
    position: relative;
}

.carousel-images img {
    width: 100%;
    height: auto;
    opacity: 0%;
    transition: opacity 1s ease-in-out;
    position: absolute;

}

.carousel-images img.active {
    opacity: 1;
}

.carousel-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

.about {
    padding: 10% 16.5% 0% 16.5%;
}

.about__heading {
    font-size: 30px;
    margin-left: 9%;
    font-family: 'GraphikLCG-Bold', sans-serif;
    color: #333;
}

.about__lead {
    margin-left: 40.5%;
    margin-top: -9.5%;
    margin-bottom: 4%;
    font-size: 17px;
    font-family: 'GraphikLCG-SemiBold', sans-serif;
    color: #333;
}

.about__paragraph {
    margin-left: 40.5%;
    font-size: 13px;
    font-family: 'GraphikLCG-Regular', sans-serif;
    color: #333;
}

/* Основные стили */
.category__heading {
    margin: 0% auto 4%;
    margin-left: 15%;
    color: #333;
    font-size: 20px;
    font-family: 'GraphikLCG-Medium', sans-serif;
}

.category__heading::before {
    content: '';
    display: block;
    height: 1px;
    background-color: #333;
    margin: 10% auto 3%;
    margin-right: 15%;
}

.category__heading::after {
    content: '';
    display: block;
    position: absolute;
    right: 13%;
    width: 10px;
    height: 10px;
    margin-top: -20px;
    background-color: #333;
}

.category__list {
    display: flex;
    gap: 2.2%;
    list-style: none;
    padding: 0%;
    flex-wrap: wrap;
    /* Разрешаем перенос на новую строку */
    margin-left: 15%;
    font-family: 'GraphikLCG-Regular', sans-serif;
    color: #333;
}

.category__item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    /* Элементы будут занимать 100% ширины родительского контейнера */
    max-width: 26.8%;
    /* Ограничение максимальной ширины элемента */
    flex-grow: 1;
    /* Элементы могут расширяться */
    transition: all 0.3s ease;
}

.category__img {
    width: 100%;
    /* Картинка будет адаптироваться под ширину родительского элемента */
    height: auto;
    /* Высота будет пропорционально изменяться */
    object-fit: cover;
    /* Картинка будет масштабироваться, сохраняя пропорции */
    transition: filter 0.3s ease, transform 0.3s ease;
}

/* Темнение картинки при наведении */
.category__item:hover .category__img {
    filter: brightness(50%);
    /* Темнение картинки */
}

/* Стили для списка */
.category__sub-list {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Центрируем по обеим осям */
    list-style: none;
    padding: 0%;
    margin: 0%;
    opacity: 0%;
    /* Скрываем список по умолчанию */
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    /* Плавное появление */
    line-height: 1.2;
    margin-bottom: 2.2%;
    width: 90%;
    text-align: left;
    /* Выравнивание текста по левому краю */
}

.category__item:hover .category__sub-list {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
    /* Плавное появление списка */
}

/* Появление каждого элемента списка по очереди */
.category__sub-item {
    font-size: 16px;
    color: white;
    font-family: 'GraphikLCG-Regular', sans-serif;
    margin: 0%;
    margin-bottom: 10%;
    opacity: 0;
    /* По умолчанию скрываем элементы списка */
    transition: opacity 0.3s ease-in-out;
    /* Выравнивание текста по левому краю */
    text-align: left;
    padding-left: 2.2%;
    /* Добавляем немного отступа для текста */
}

/* Элементы списка появляются по очереди */
.category__item:hover .category__sub-item:nth-child(1) {
    opacity: 1;
    transition-delay: 0.1s;
}

.category__item:hover .category__sub-item:nth-child(2) {
    opacity: 1;
    transition-delay: 0.2s;
}

.category__item:hover .category__sub-item:nth-child(3) {
    opacity: 1;
    transition-delay: 0.3s;
}

/* Стили для заголовка */
.category__sub-heading {
    color: #333;
    font-size: 16px;
    font-family: 'GraphikLCG-Regular', sans-serif;
    margin-bottom: 3.3%;
}
.videos {
    background-color: #333;
    padding-top: 7%;
}

.videos__heading {
    margin: 0% auto 4%;
    margin-left: 15%;
    color: #fff;
    font-size: 20px;
    font-family: 'GraphikLCG-Medium', sans-serif;
}

.videos__heading::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 30px auto 0px;
    margin-right: 15%;
}

.videos__heading::before {
    content: '';
    display: block;
    position: absolute;
    right: 13%;
    width: 10px;
    height: 10px;
    margin-top: 5px;
    background-color: #fff;
}

.videos__list {
    display: flex;
    gap: 1.8%;
    list-style: none;
    padding: 0%;
    margin: 0%;
    margin-left: 17%;
}

/* Элемент для каждого видео */
.videos__item {
    position: relative;
    /* Для абсолютного позиционирования иконки */
    width: 40.5%;
    /* Ширина каждого видео */
    text-align: center;
    /* Выравнивание текста по центру */
}

/* Превью изображения */
.videos__preview {
    width: 100%;
    /* Ширина изображения = ширине контейнера */
    height: auto;
    /* Сохраняем пропорции изображения */
}

.videos__item:hover .videos__preview {
    filter: brightness(50%);
    /* Затемнение изображения при наведении */
}

/* Кнопка плеера (иконка) */
.videos__play {
    position: absolute;
    /* Абсолютное позиционирование */
    top: 45%;
    /* Центрируем по вертикали */
    left: 50%;
    /* Центрируем по горизонтали */
    transform: translate(-50%, -50%);
    /* Совсем точно центрируем */
    background-color: transparent;
    border: none;
    /* Без обводки */
    border-radius: 50%;
    /* Круглая кнопка */
    padding: 0%;
    /* Отступы вокруг иконки */
    cursor: pointer;
    /* Указатель курсора */

    opacity: 0;
    /* Скрыта изначально */
    visibility: hidden;
    /* Скрыта изначально */
    pointer-events: none;
    /* Блокирует клики по скрытой кнопке */
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    /* Плавный переход */
}

.videos__item:hover .videos__play {
    opacity: 1;
    /* Появляется при наведении */
    visibility: visible;
    /* Видна при наведении */
    pointer-events: auto;
    /* Разрешаем клики по кнопке при видимости */
    transition: opacity 0.3s ease, visibility 0s 0s;
    /* Плавный переход */
}

/* Название видео */
.videos__video-heading {
    margin-top: 2%;
    /* Отступ от видео */
    font-size: 16px;
    /* Размер шрифта */
    color: white;
    /* Цвет текста */
    font-family: 'GraphikLCG-Regular', sans-serif;
    margin-bottom: 6%;
    text-align: left;
}
/* Медиазапросы для адаптации на разных экранах */
@media (max-width: 1024px) {
    
    .main-menu {

        margin-left: 20%;
    }


    .first-screen__heading {
        top: 23%; /* Опускаем заголовок ниже для лучшего расположения */
        left: 50%;
        transform: translateX(-50%) translateY(-50%); /* Центрируем по горизонтали */
        width: 80%; /* Даем больше ширины */
        font-size: 55px; /* Уменьшаем размер текста */
        letter-spacing: 3px; /* Уменьшаем межбуквенный интервал */
    }

    .first-screen__list {
        top: 40%; /* Опускаем список ниже */
        left: 60%;
        transform: translateX(-50%); /* Центрируем список */
        padding-left: 0;
        font-size: 17px; /* Уменьшаем размер шрифта */
        width: 80%; /* Даем больше ширины */
    }
    .first-screen__item {
        margin-bottom: 3%;
    }
    .about {
        padding: 0% 15% 0% 15%;
    }
    
    .about__heading {
        font-size: 30px;
        margin-left: 0%;
        margin-top: -10%;
        align-items: center;
        text-align: center;
        font-family: 'GraphikLCG-Bold', sans-serif;
        color: #333;
    }
    
    .about__lead {
        margin-left: 0;
        margin-top: 10%;
        margin-bottom: 4%;
        font-size: 20px;
        align-items: center;
        text-align: center;
        font-family: 'GraphikLCG-SemiBold', sans-serif;
        color: #333;
    }
    
    .about__paragraph {
        margin-left: 0;
        font-size: 20px;
        margin-top: 10%;
        text-align: center;
        font-family: 'GraphikLCG-Regular', sans-serif;
        color: #333;

    }

    .category__heading {
        margin: 0% auto 4%;
        margin-left: 17%;
        color: #333;
        font-size: 25px;
        font-family: 'GraphikLCG-Medium', sans-serif;
    }
    
    .category__heading::before {
        content: '';
        display: block;
        height: 1px;
        background-color: #333;
        margin: 80px auto 30px;
        margin-right: 10%;
    }
    
    .category__heading::after {
        content: '';
        display: block;
        position: absolute;
        right: 10%;
        width: 15px;
        height: 15px;
        margin-top: -20px;
        background-color: #333;
    }
    .category__list {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0%;
        
        /* Ставим элементы списка в столбик на экранах до 768px */
        
    }

    .category__item {

        max-width: 550px;
        text-align: left;

    }
    .category__sub-heading{
        color: #333;
        font-size: 20px;
        font-family: 'GraphikLCG-Medium', sans-serif;
        margin-bottom: 5%;
    }
    .category__sub-item {
        font-size: 30px;
        
    }

    



    

}

@media (max-width: 800px) {
    


    .main-menu {

        margin-left: 20%;
    }

    .first-screen__heading {
        top: 18%; /* Опускаем заголовок ниже для лучшего расположения */
        left: 50%;
        transform: translateX(-50%) translateY(-50%); /* Центрируем по горизонтали */
        width: 80%; /* Даем больше ширины */
        font-size: 42px; /* Уменьшаем размер текста */
        letter-spacing: 3px; /* Уменьшаем межбуквенный интервал */
    }

    .first-screen__list {
        top: 35%; /* Опускаем список ниже */
        left: 60%;
        transform: translateX(-50%); /* Центрируем список */
        padding-left: 0;
        font-size: 15px; /* Уменьшаем размер шрифта */
        width: 80%; /* Даем больше ширины */
    }


    .first-screen__item {
        margin-bottom: 3%;
    }



    .carousel-images {
        display: block; /* Убираем флекс-контейнер для карусели */
    }

    .carousel-images img {
        width: 100%;
        height: auto;
        opacity: 1;
    }
    
    .about__heading {

        margin-top: -30%;

    }
    .about__lead {

        margin-top: 10%;

    }
    .about__paragraph:last-child {

        margin-bottom: 20%;

    }
    .category__heading {
        margin: 0% auto 4%;
        margin-left: 17%;
        color: #333;
        font-size: 23px;
        font-family: 'GraphikLCG-Medium', sans-serif;
    }
    
    .category__heading::before {
        content: '';
        display: block;
        height: 1px;
        background-color: #333;
        margin: 50px auto 30px;
        margin-right: 10%;
    }
    
    .category__heading::after {
        content: '';
        display: block;
        position: absolute;
        right: 10%;
        width: 12px;
        height: 12px;
        margin-top: -20px;
        background-color: #333;
    }
    .category__list {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0%;
        
        /* Ставим элементы списка в столбик на экранах до 768px */
        
    }

    .category__item {

        max-width: 425px;
        text-align: left;

    }
    .category__sub-heading{
        color: #333;
        font-size: 18px;
        font-family: 'GraphikLCG-Medium', sans-serif;
        margin-bottom: 8%;
    }
    .category__sub-item {
        font-size: 20px;
        
    }


    .videos__list {
        flex-direction: column; /* Меняем расположение элементов на колонку */
        align-items: center; 
        margin-left: 0px;
    }

    .videos__item {
        width: 450px; /* Уменьшаем ширину видео элемента */
        max-width: none; /* Убираем максимальную ширину */
        margin-bottom: 15px; /* Добавляем отступ между видео элементами */
    }

    .videos__video-heading {
        font-size: 18px; /* Уменьшаем размер шрифта для мобильных */
    }





}
@media (max-width: 650px) {
    

    .main-menu__soc-links{
        display: none;
    }
    .main-menu {

        margin-left: 20%;
        padding: 15px 0px 15px 0px;
    }

    .first-screen__heading {
        top: 17%; /* Опускаем заголовок ниже для лучшего расположения */
        left: 50%;
        transform: translateX(-50%) translateY(-50%); /* Центрируем по горизонтали */
        width: 80%; /* Даем больше ширины */
        font-size: 35px; /* Уменьшаем размер текста */
        letter-spacing: 3px; /* Уменьшаем межбуквенный интервал */
    }

    .first-screen__list {
        top: 30%; /* Опускаем список ниже */
        left: 60%;
        transform: translateX(-50%); /* Центрируем список */
        padding-left: 0;
        font-size: 14px; /* Уменьшаем размер шрифта */
        width: 80%; /* Даем больше ширины */
    }

    .first-screen__item {
        margin-bottom: 3%;
    }



    .carousel-images {
        display: block; /* Убираем флекс-контейнер для карусели */
    }

    .carousel-images img {
        width: 100%;
        height: 60hv;
        opacity: 1;
    }
    .category__heading {
        margin: 0% auto 4%;
        margin-left: 17%;
        color: #333;
        font-size: 18px;
        font-family: 'GraphikLCG-Medium', sans-serif;
    }
    
    .category__heading::before {
        content: '';
        display: block;
        height: 1px;
        background-color: #333;
        margin: 50px auto 30px;
        margin-right: 10%;
    }
    
    .category__heading::after {
        content: '';
        display: block;
        position: absolute;
        right: 10%;
        width: 11px;
        height: 11px;
        margin-top: -20px;
        background-color: #333;
    }
    .category__list {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0%;
        
        /* Ставим элементы списка в столбик на экранах до 768px */
        
    }

    .category__item {

        max-width: 325px;
        text-align: left;

    }
    .category__sub-heading{
        color: #333;
        font-size: 15px;
        font-family: 'GraphikLCG-Medium', sans-serif;
        margin-bottom: 5%;
    }
    .category__sub-item {
        font-size: 15px;
        
    }
    .about__heading {

        margin-top: -70%;

    }
    .about__lead {

        margin-top: 10%;

    }
    .about__paragraph:last-child {

        margin-bottom: 30%;

    }

    .videos__list {
        flex-direction: column; /* Меняем расположение элементов на колонку */
        align-items: center; 
        margin-left: 0px;
    }

    .videos__item {
        width: 325px; /* Уменьшаем ширину видео элемента */
        max-width: none; /* Убираем максимальную ширину */
        margin-bottom: 15px; /* Добавляем отступ между видео элементами */
    }

    .videos__video-heading {
        font-size: 14px; /* Уменьшаем размер шрифта для мобильных */
    }
    .videos__heading{
        font-size: 18px;
    }
    




}
@media (max-width: 550px) {
    

    .main-menu__soc-links{
        display: none;
    }
    .left-bar{
        left: 85%;
        width: 15%;
    }
    .main-menu {
        align-items: right;
        margin-left: 5%;
        padding: 15px 0px 15px 0px;
    }
    .main-menu__item {
        margin: 0 20px;
        font-size: 14px;
        
    }

    .carousel-images{
        height: 100hv; 
    }
    .first-screen__heading {
        top: 12%; /* Опускаем заголовок ниже для лучшего расположения */
        left: 40%;
        transform: translateX(-50%) translateY(-50%); /* Центрируем по горизонтали */
        width: 80%; /* Даем больше ширины */
        font-size: 28px; /* Уменьшаем размер текста */
        letter-spacing: 3px; /* Уменьшаем межбуквенный интервал */
    }

    .first-screen__list {
        top: 20%; /* Опускаем список ниже */
        left: 50%;
        transform: translateX(-50%); /* Центрируем список */
        padding-left: 0;
        font-size: 12px; /* Уменьшаем размер шрифта */
        width: 80%; /* Даем больше ширины */
    }


    .first-screen__item {
        margin-bottom: 3%;
    }




    .category__heading {
        margin: 0% auto 4%;
        margin-left: 17%;
        color: #333;
        font-size: 16px;
        font-family: 'GraphikLCG-Medium', sans-serif;
    }
    
    .category__heading::before {
        content: '';
        display: block;
        height: 1px;
        background-color: #333;
        margin: 30px auto 30px;
        margin-right: 20%;
    }
    
    .category__heading::after {
        display: none;
    }
    .category__list {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0%;
        
        /* Ставим элементы списка в столбик на экранах до 768px */
        
    }

    .category__item {

        max-width: 270px;
        text-align: left;

    }
    .category__sub-heading{
        color: #333;
        font-size: 15px;
        font-family: 'GraphikLCG-Medium', sans-serif;
        margin-bottom: 5%;
    }
    .category__sub-item {
        font-size: 15px;
        
    }
    .about__heading {

        margin-top: -140%;

    }
    .about__lead {

        margin-top: 10%;
        font-size: 17px;

    }
    .about__paragraph:last-child {

        margin-bottom: 30%;
        

    }
    .about__paragraph {

        font-size: 14px;

    
    }
    .videos__heading{
        font-size: 14px;
    }
    .videos__list {
        flex-direction: column; /* Меняем расположение элементов на колонку */
        align-items: center; 
        margin-left: 0px;
    }

    .videos__item {
        width: 270px; /* Уменьшаем ширину видео элемента */
        max-width: none; /* Убираем максимальную ширину */
        margin-bottom: 15px; /* Добавляем отступ между видео элементами */
    }

    .videos__video-heading {
        font-size: 15px; /* Уменьшаем размер шрифта для мобильных */
    }
    .videos__heading::after {
        content: '';
        display: block;
        height: 1px;
        background-color: #fff;
        margin: 20px auto 0px;
        margin-right: 20%;
    }
    
    .videos__heading::before {
        display: none;
    }
    
    




}

