<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Фитнес-клуб SportArea</title>
    <meta name="description" content="Поменяйте описание">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="images/favicon.png">
    <style>
        @font-face {
            font-family: 'GraphikLCG-Medium';
            src: url('fonts/GraphikLCG-Medium.woff2') format('woff2');
        }

        @font-face {
            font-family: 'GraphikLCG-Bold';
            src: url('fonts/GraphikLCG-Bold.woff2') format('woff2');
        }

        @font-face {
            font-family: 'GraphikLCG-Semibold';
            src: url('fonts/GraphikLCG-Semibold.woff2') format('woff2');
        }

        @font-face {
            font-family: 'GraphikLCG-Regular';
            src: url('fonts/GraphikLCG-Regular.woff2') format('woff2');
        }

        body {
            margin: 0%;
            padding: 0%;
            scroll-behavior: smooth;
            overflow-x: hidden;
        }

        .main-header {
            position: fixed;
            /* Закрепляем элемент */
            top: 0%;
            /* Размещаем панель в верхней части экрана */
            right: 0%;
            left: 0%;
            width: 100%;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1000;
        }

        .main-menu {
            display: flex;
            list-style: none;
            margin: 0%;
            padding: 0%;
            margin-left: 62.5%;
        }

        .main-menu__item {
            margin: 0 30px;
            font-size: 14px;
            letter-spacing: 2px;
            color: #333;
            font-family: 'GraphikLCG-Semibold', sans-serif;
        }

        .main-menu__item:first-child {
            margin-left: 0%;
            font-size: 14px;
            letter-spacing: 2px;
            color: #333;
            font-family: 'GraphikLCG-Semibold', sans-serif;
        }

        .main-menu__link {
            text-decoration: none;
            color: #333;
            font-family: 'GraphikLCG-Semibold', sans-serif;
            font-size: 14px;
            letter-spacing: 2px;
        }

        .main-menu__soc-links {
            position: relative;
            /* Делаем элемент относительным, чтобы z-index работал */
            z-index: 2000;
            /* Социальные иконки будут выше панели */
            right: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 45%;
        }

        .left-bar {
            width: 60px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: 0%;
            bottom: 0%;
            z-index: 1000;
            pointer-events: none;
            /* Убираем кликабельность для всей панели */
        }

        .left-bar a {
            pointer-events: auto;
            /* Включаем кликабельность только для логотипа */
        }

        .button-call {
            pointer-events: auto;
            background-color: #333;
            color: white;
            border: none;
            padding: 16.6% 34%;
            cursor: pointer;
            transform: rotate(-90deg);
            /* Поворот кнопки */
            white-space: nowrap;
            font-size: 12px;
            letter-spacing: 1px;
            font-family: 'GraphikLCG-Medium', sans-serif;
            position: absolute;
            /* Абсолютное позиционирование относительно панели */
            bottom: 9.2%;
            /* Отступ от нижнего края панели */
            font-size: 11px;
            letter-spacing: 1px;
            font-family: 'GraphikLCG-Medium', sans-serif;
        }

        .left-bar__logo {
            width: 100%;
            margin-top: 88%;
            /* Отступ сверху, чтобы логотип не прилегал к верхнему краю */
            transform: rotate(-90deg);
        }

        .callback-popup {
            display: none;
            /* Изначально скрыто */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        /* Контейнер окна */
        .callback-popup__content {
            background-color: #fff;
            padding: 20px;
            width: 30%;
            max-width: 50%;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 10000;
        }

        /* Кнопка для закрытия */


        /* Стили для формы */
        .callback-form {
            display: flex;
            flex-direction: column;
        }

        .callback-form label {
            margin-top: 5%;
            text-align: left;
        }

        .callback-form input,
        .callback-form textarea {
            margin-top: 5px;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #333;
        }

        .callback-form textarea {
            resize: vertical;
        }

        .submit-button {
            margin-top: 15px;
            padding: 10px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .submit-button:hover {
            background-color: #333;
        }

        .close-btn {
            top: 10px;
            /* Отступ сверху */
            right: 10px;
            /* Отступ справа */
            cursor: pointer;
            /* Указатель, чтобы было понятно, что это кликабельный элемент */
            z-index: 10;
            /* Убедитесь, что крестик будет сверху */
        }

        .button-detail {
            background-color: white;
            color: #333;
            border: none;
            padding: 0.8% 1.4%;
            cursor: pointer;
            z-index: 3;
            /* Чтобы кнопка была выше, чем карусель */
            position: relative;
            /* Чтобы кнопка располагалась в документе */
            top: 70%;
            /* Плавный отступ вниз от списка */
            left: 16.8%;
            width: auto;
            font-size: 16px;
            letter-spacing: 1px;
            font-family: 'GraphikLCG-Medium', sans-serif;
        }

        .first-screen {
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        .first-screen-bg {
            width: 100%;
            height: auto;
        }

        .first-screen__heading {
            position: absolute;
            /* Позиционируем заголовок поверх изображения */
            top: 30%;
            /* Размещаем по вертикали (вы можете настроить значение) */
            left: 0%;
            /* Выравнивание по левому краю */
            transform: translateY(-50%);
            /* Центрируем по вертикали */
            padding-left: 16.5%;
            /* Немного отступа слева, если нужно */
            color: white;
            z-index: 2;
            width: 50%;
            font-size: 60px;
            letter-spacing: 5px;
            font-family: 'GraphikLCG-Medium', sans-serif;
        }

        .first-screen__list {
            position: absolute;
            /* Позиционируем список поверх изображения */
            top: 49%;
            /* Размещаем ниже заголовка, вы можете настроить */
            left: 0%;
            /* Выравнивание по левому краю */
            padding-left: 18%;
            /* Немного отступа слева */
            color: white;
            z-index: 2;
            font-size: 16px;
            font-family: 'GraphikLCG-Regular', sans-serif;
        }

        .first-screen__item {
            margin-bottom: 4%;
            /* Отступ между пунктами */
        }

        .carousel-images {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
        }

        .carousel-images img {
            width: 100%;
            height: auto;
            opacity: 0%;
            transition: opacity 1s ease-in-out;
            position: absolute;
            top: 0%;
            left: 0%;
        }

        .carousel-images img.active {
            opacity: 1;
        }

        .carousel-overlay {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: rgba(40, 40, 40, 0.75);
            pointer-events: none;
            z-index: 1;
        }

        .about {
            padding: 10% 16.5% 0% 16.5%;
        }

        .about__heading {
            font-size: 30px;
            margin-left: 9%;
            font-family: 'GraphikLCG-Bold', sans-serif;
            color: #333;
        }

        .about__lead {
            margin-left: 40.5%;
            margin-top: -9.5%;
            margin-bottom: 4%;
            font-size: 17px;
            font-family: 'GraphikLCG-SemiBold', sans-serif;
            color: #333;
        }

        .about__paragraph {
            margin-left: 40.5%;
            font-size: 13px;
            font-family: 'GraphikLCG-Regular', sans-serif;
            color: #333;
        }

        /* Основные стили */
        .category__heading {
            margin: 0% auto 4%;
            margin-left: 17%;
            color: #333;
            font-size: 20px;
            font-family: 'GraphikLCG-Medium', sans-serif;
        }

        .category__heading::before {
            content: '';
            display: block;
            height: 1px;
            background-color: #333;
            margin: 100px auto 30px;
            margin-right: 250px;
        }

        .category__heading::after {
            content: '';
            display: block;
            position: absolute;
            right: 250px;
            width: 10px;
            height: 10px;
            margin-top: -15px;
            background-color: #333;
        }

        .category__list {
            display: flex;
            gap: 2.2%;
            list-style: none;
            padding: 0%;
            flex-wrap: wrap;
            /* Разрешаем перенос на новую строку */
            margin-left: 17%;
            font-family: 'GraphikLCG-Regular', sans-serif;
            color: #333;
        }

        .category__item {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            /* Элементы будут занимать 100% ширины родительского контейнера */
            max-width: 26.5%;
            /* Ограничение максимальной ширины элемента */
            flex-grow: 1;
            /* Элементы могут расширяться */
            transition: all 0.3s ease;
        }

        .category__img {
            width: 100%;
            /* Картинка будет адаптироваться под ширину родительского элемента */
            height: auto;
            /* Высота будет пропорционально изменяться */
            object-fit: cover;
            /* Картинка будет масштабироваться, сохраняя пропорции */
            transition: filter 0.3s ease, transform 0.3s ease;
            /* Плавное изменение яркости и масштаба */
        }

        /* Темнение картинки при наведении */
        .category__item:hover .category__img {
            filter: brightness(50%);
            /* Темнение картинки */
        }

        /* Стили для списка */
        .category__sub-list {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* Центрируем по обеим осям */
            list-style: none;
            padding: 0%;
            margin: 0%;
            opacity: 0%;
            /* Скрываем список по умолчанию */
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0s 0.3s;
            /* Плавное появление */
            line-height: 1.2;
            margin-bottom: 2.2%;
            width: 90%;
            text-align: left;
            /* Выравнивание текста по левому краю */
        }

        .category__item:hover .category__sub-list {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s ease, visibility 0s 0s;
            /* Плавное появление списка */
        }

        /* Появление каждого элемента списка по очереди */
        .category__sub-item {
            font-size: 16px;
            color: white;
            font-family: 'GraphikLCG-Regular', sans-serif;
            margin: 0%;
            margin-bottom: 4.4%;
            opacity: 0;
            /* По умолчанию скрываем элементы списка */
            transition: opacity 0.3s ease-in-out;
            /* Выравнивание текста по левому краю */
            text-align: left;
            padding-left: 2.2%;
            /* Добавляем немного отступа для текста */
        }

        /* Элементы списка появляются по очереди */
        .category__item:hover .category__sub-item:nth-child(1) {
            opacity: 1;
            transition-delay: 0.1s;
        }

        .category__item:hover .category__sub-item:nth-child(2) {
            opacity: 1;
            transition-delay: 0.2s;
        }

        .category__item:hover .category__sub-item:nth-child(3) {
            opacity: 1;
            transition-delay: 0.3s;
        }

        /* Стили для заголовка */
        .category__sub-heading {
            color: #333;
            font-size: 16px;
            font-family: 'GraphikLCG-Regular', sans-serif;
            margin-bottom: 3.3%;
        }

        /* Медиазапросы для адаптации на разных экранах */
        @media (max-width: 1024px) {
            .category__list {
                flex-direction: row;
                /* Элементы остаются в строку */
            }

            .category__item {
                max-width: 300px;
                /* Ограничение ширины элементов на экранах до 1024px */
            }
        }

        @media (max-width: 768px) {
            .category__list {
                flex-direction: column;
                /* Ставим элементы списка в столбик на экранах до 768px */
                margin-left: 0;
                /* Убираем отступ слева */
            }

            .category__item {
                max-width: 100%;
                /* На маленьких экранах элементы могут занимать всю ширину */
            }

            .category__heading {
                margin-left: 0;
                /* Убираем отступ слева для заголовков */
            }

            .category__img {
                height: 200px;
                /* Ограничиваем высоту изображений для маленьких экранов */
            }
        }

        @media (max-width: 480px) {
            .category__heading {
                font-size: 18px;
                /* Уменьшаем размер шрифта заголовков на маленьких экранах */
            }

            .category__sub-item {
                font-size: 14px;
                /* Уменьшаем размер шрифта пунктов списка */
            }

            .category__img {
                height: 180px;
                /* Дополнительное уменьшение высоты картинок на смартфонах */
            }
        }

        .videos {
            background-color: #333;
            padding-top: 7%;
        }

        .videos__heading {
            margin: 0% auto 4%;
            margin-left: 17%;
            color: #fff;
            font-size: 20px;
            font-family: 'GraphikLCG-Medium', sans-serif;
        }

        .videos__heading::after {
            content: '';
            display: block;
            height: 1px;
            background-color: #fff;
            margin: 30px auto 0px;
            margin-right: 250px;
        }

        .videos__heading::before {
            content: '';
            display: block;
            position: absolute;
            right: 250px;
            width: 10px;
            height: 10px;
            margin-top: 5px;
            background-color: #fff;
        }

        .videos__list {
            display: flex;
            gap: 1.8%;
            list-style: none;
            padding: 0%;
            margin: 0%;
            margin-left: 17%;
        }

        /* Элемент для каждого видео */
        .videos__item {
            position: relative;
            /* Для абсолютного позиционирования иконки */
            width: 40.5%;
            /* Ширина каждого видео */
            text-align: center;
            /* Выравнивание текста по центру */
        }

        /* Превью изображения */
        .videos__preview {
            width: 100%;
            /* Ширина изображения = ширине контейнера */
            height: auto;
            /* Сохраняем пропорции изображения */
        }

        .videos__item:hover .videos__preview {
            filter: brightness(50%);
            /* Затемнение изображения при наведении */
        }

        /* Кнопка плеера (иконка) */
        .videos__play {
            position: absolute;
            /* Абсолютное позиционирование */
            top: 50%;
            /* Центрируем по вертикали */
            left: 50%;
            /* Центрируем по горизонтали */
            transform: translate(-50%, -50%);
            /* Совсем точно центрируем */
            background-color: transparent;
            border: none;
            /* Без обводки */
            border-radius: 50%;
            /* Круглая кнопка */
            padding: 0%;
            /* Отступы вокруг иконки */
            cursor: pointer;
            /* Указатель курсора */

            opacity: 0;
            /* Скрыта изначально */
            visibility: hidden;
            /* Скрыта изначально */
            pointer-events: none;
            /* Блокирует клики по скрытой кнопке */
            transition: opacity 0.3s ease, visibility 0s 0.3s;
            /* Плавный переход */
        }

        .videos__item:hover .videos__play {
            opacity: 1;
            /* Появляется при наведении */
            visibility: visible;
            /* Видна при наведении */
            pointer-events: auto;
            /* Разрешаем клики по кнопке при видимости */
            transition: opacity 0.3s ease, visibility 0s 0s;
            /* Плавный переход */
        }

        /* Название видео */
        .videos__video-heading {
            margin-top: 5%;
            /* Отступ от видео */
            font-size: 16px;
            /* Размер шрифта */
            color: white;
            /* Цвет текста */
            font-family: 'GraphikLCG-Regular', sans-serif;
            margin-bottom: 6%;
            text-align: left;
        }

        .main-footer {
            width: 100%;
            padding: 0%;
            background-color: #fff;
        }

        /* Верхняя часть футера с логотипом и меню */
        .footer-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.8% 0%;
        }

        .footer-logo {
            width: 30%;
            margin-left: 17%;
        }

        .footer-main-menu {
            display: flex;
            list-style: none;
            margin: 0%;
            padding: 0%;
            margin-right: 20%;
            align-items: left;
        }

        .footer-main-menu__item {
            margin: 0 7%;
        }

        .footer-main-menu__item:last-child {
            margin-right: 0%;
        }

        .footer-main-menu__link {
            text-decoration: none;
            color: #333;
            font-family: 'GraphikLCG-Semibold', sans-serif;
            font-size: 14px;
            letter-spacing: 2px;
        }

        .footer-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            padding: 0%;
        }

        .footer-text {
            color: #fff;
            font-size: 14px;
            font-family: 'GraphikLCG-Regular', sans-serif;
            margin-left: 16.9%;
        }
    </style>
</head>

<body>
    <aside class="left-bar">
        <a href="#" id="left-bar__logo-link">
            <div class="left-bar__logo">
                <img src="/images/dist/logo.svg" alt="Изображение тренажерного зала SportArea" class="logo__img">
            </div>
        </a>
        <button class="button-call" id="callUsButton">ПОЗВОНИТЬ НАМ</button>
        <div class="form-container" id="form-container">

            <div id="callbackForm" class="callback-popup">
                <!-- Кнопка закрытия -->
                <div class="close-btn" id="close-btn">
                    <!-- SVG крестика -->
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2 17.75L0.25 16L7.25 9L0.25 2L2 0.25L9 7.25L16 0.25L17.75 2L10.75 9L17.75 16L16 17.75L9 10.75L2 17.75Z"
                            fill="#333333" />
                    </svg>
                </div>
                <div class="callback-popup__content">
                    <button id="closeForm" class="callback-popup__close">&times;</button>
                    <h3>Заполнив форму, наш менеджер свяжется с Вами для подробной информации об абонементах и спорт-клубе</h3>
                    <form id="callbackFormContent" class="callback-form" action="/call-requests" method="post">
                      <label for="fio">ФИО:</label>
                      <input type="text" id="fio" name="fio" required>
                  
                      <label for="phone">Телефон:</label>
                      <input type="tel" id="phone" name="phone" required>
                  
                      <label for="comment">Комментарий:</label>
                      <textarea id="comment" name="comment" rows="4"></textarea>
                  
                      <button type="submit" class="submit-button">ЗАКАЗАТЬ ЗВОНОК</button>
                    </form>
                  </div>
            </div>

    </aside>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const callUsButton = document.getElementById("callUsButton");
            const callbackForm = document.getElementById("callbackForm");
            const closeFormButton = document.getElementById("closeForm");
    
            // Открытие формы при клике на кнопку "ПОЗВОНИТЬ НАМ"
            callUsButton.addEventListener("click", function () {
                callbackForm.style.display = "flex";
            });
    
            // Закрытие формы при клике на крестик
            closeFormButton.addEventListener("click", function () {
                callbackForm.style.display = "none";
            });
    
            // Закрытие формы при клике за пределами окна
            window.addEventListener("click", function (event) {
                if (event.target === callbackForm) {
                    callbackForm.style.display = "none";
                }
            });
    
            // Закрытие формы при отправке данных (например, если форма отправляется)
            const callbackFormContent = document.getElementById("callbackFormContent");
            callbackFormContent.addEventListener("submit", function (event) {
                event.preventDefault();  // Остановить отправку формы для демонстрации
                // Закрытие формы после отправки
                callbackForm.style.display = "none";
            });
        });
    </script>

    <header class="main-header">
        <nav class="main-header__navigation">
            <ul class="main-menu">
                <li class="main-menu__item">
                    <a href="/index" class="main-menu__link">ГЛАВНАЯ</a>
                </li>
                <li class="main-menu__item">
                    <a href="trainers.html" class="main-menu__link">ТРЕНЕРЫ</a>
                </li>
                <li class="main-menu__item">
                    <a href="contacts.html" class="main-menu__link">КОНТАКТЫ</a>
                </li>
            </ul>
        </nav>

        <ul class="main-menu__soc-links">
            <a href="https://vk.com/skzvz" class="main-menu__soc-links__link" target="_blank">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M17.92 15.3175H16.0183C15.2992 15.3175 15.0825 14.735 13.7933 13.445C12.6667 12.3591 12.1908 12.2241 11.9058 12.2241C11.5117 12.2241 11.4042 12.3325 11.4042 12.875V14.585C11.4042 15.0475 11.2542 15.3183 10.0458 15.3183C8.87358 15.2395 7.7368 14.8834 6.72914 14.2792C5.72148 13.6751 4.87177 12.8402 4.25 11.8433C2.77366 10.0058 1.74642 7.84919 1.25 5.54495C1.25 5.25995 1.35833 5.00162 1.90167 5.00162H3.80167C4.29 5.00162 4.46583 5.21912 4.6575 5.72162C5.58 8.43662 7.15417 10.7983 7.79333 10.7983C8.03833 10.7983 8.145 10.69 8.145 10.0791V7.28245C8.06417 6.00662 7.38667 5.89912 7.38667 5.43745C7.39524 5.31565 7.45095 5.20199 7.54198 5.12061C7.63301 5.03923 7.75217 4.99655 7.87417 5.00162H10.8608C11.2692 5.00162 11.4042 5.20495 11.4042 5.69329V9.46829C11.4042 9.87579 11.5792 10.0108 11.7025 10.0108C11.9475 10.0108 12.1358 9.87579 12.585 9.42745C13.5478 8.25327 14.3344 6.94509 14.92 5.54412C14.9799 5.37591 15.0933 5.23193 15.2427 5.13413C15.3921 5.03634 15.5694 4.99009 15.7475 5.00245H17.6483C18.2183 5.00245 18.3392 5.28745 18.2183 5.69412C17.527 7.2428 16.6715 8.71287 15.6667 10.0791C15.4617 10.3916 15.38 10.5541 15.6667 10.9208C15.855 11.2058 16.5217 11.7625 16.9692 12.2916C17.6208 12.9416 18.1617 13.6933 18.5708 14.5166C18.7342 15.0466 18.4625 15.3175 17.92 15.3175Z"
                        fill="#333333" />
                </svg>
            </a>
            <a href="https://web.telegram.org/a/" class="main-menu__soc-links__link" target="_blank">
                <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M15.4809 0.691638C15.6868 0.604963 15.9122 0.57507 16.1336 0.605069C16.355 0.635067 16.5643 0.723861 16.7398 0.862209C16.9152 1.00056 17.0504 1.1834 17.1312 1.39171C17.212 1.60001 17.2355 1.82617 17.1992 2.04664L15.3092 13.5108C15.1259 14.6166 13.9125 15.2508 12.8984 14.7C12.05 14.2391 10.79 13.5291 9.6567 12.7883C9.09004 12.4175 7.3542 11.23 7.56754 10.385C7.75087 9.66247 10.6675 6.94747 12.3342 5.3333C12.9884 4.69914 12.69 4.3333 11.9175 4.91664C9.9992 6.36497 6.9192 8.56747 5.90087 9.18747C5.00254 9.73414 4.5342 9.82747 3.9742 9.73414C2.95254 9.56414 2.00504 9.3008 1.2317 8.97997C0.186703 8.54664 0.237537 7.10997 1.23087 6.69164L15.4809 0.691638Z"
                        fill="#333333" />
                </svg>

            </a>
            <a href="https://www.whatsapp.com/?lang=ru_RU" class="main-menu__soc-links__link" target="_blank">
                <svg width="20" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.00083 0.666626C13.6033 0.666626 17.3342 4.39746 17.3342 8.99996C17.3342 13.6025 13.6033 17.3333 9.00083 17.3333C7.52812 17.3358 6.08131 16.9461 4.80916 16.2041L0.670827 17.3333L1.79749 13.1933C1.05496 11.9207 0.664912 10.4733 0.667493 8.99996C0.667493 4.39746 4.39833 0.666626 9.00083 0.666626ZM6.16083 5.08329L5.99416 5.08996C5.8864 5.09738 5.78112 5.12569 5.68416 5.17329C5.59381 5.22455 5.51129 5.28854 5.43916 5.36329C5.33916 5.45746 5.28249 5.53913 5.22166 5.61829C4.91343 6.01905 4.74747 6.51105 4.74999 7.01663C4.75166 7.42496 4.85833 7.82246 5.02499 8.19413C5.36583 8.94579 5.92666 9.74163 6.66666 10.4791C6.84499 10.6566 7.01999 10.835 7.20833 11.0008C8.12785 11.8103 9.22356 12.3941 10.4083 12.7058L10.8817 12.7783C11.0358 12.7866 11.19 12.775 11.345 12.7675C11.5876 12.7547 11.8246 12.689 12.0392 12.575C12.1482 12.5186 12.2547 12.4574 12.3583 12.3916C12.3583 12.3916 12.3936 12.3677 12.4625 12.3166C12.575 12.2333 12.6442 12.1741 12.7375 12.0766C12.8075 12.0044 12.8658 11.9205 12.9125 11.825C12.9775 11.6891 13.0425 11.43 13.0692 11.2141C13.0892 11.0491 13.0833 10.9591 13.0808 10.9033C13.0775 10.8141 13.0033 10.7216 12.9225 10.6825L12.4375 10.465C12.4375 10.465 11.7125 10.1491 11.2692 9.94746C11.2228 9.92726 11.1731 9.91568 11.1225 9.91329C11.0655 9.90733 11.0078 9.91369 10.9535 9.93195C10.8991 9.95021 10.8493 9.97994 10.8075 10.0191C10.8033 10.0175 10.7475 10.065 10.145 10.795C10.1104 10.8414 10.0628 10.8765 10.0082 10.8958C9.95355 10.9151 9.89442 10.9177 9.83833 10.9033C9.78402 10.8888 9.73082 10.8704 9.67916 10.8483C9.57583 10.805 9.53999 10.7883 9.46916 10.7583C8.99072 10.5499 8.54786 10.2679 8.15666 9.92246C8.05166 9.83079 7.95416 9.73079 7.85416 9.63413C7.52634 9.32013 7.24062 8.96495 7.00416 8.57746L6.95499 8.49829C6.92021 8.44479 6.89169 8.38747 6.86999 8.32746C6.83833 8.20496 6.92083 8.10663 6.92083 8.10663C6.92083 8.10663 7.12333 7.88496 7.21749 7.76496C7.30916 7.64829 7.38666 7.53496 7.43666 7.45413C7.53499 7.29579 7.56583 7.13329 7.51416 7.00746C7.28083 6.43746 7.03972 5.87051 6.79083 5.30663C6.74166 5.19496 6.59583 5.11496 6.46333 5.09913C6.41833 5.09357 6.37333 5.08913 6.32833 5.08579C6.21643 5.07937 6.10424 5.08049 5.99249 5.08913L6.16083 5.08329Z"
                        fill="#333333" />
                </svg>

            </a>
        </ul>
    </header>

    <section class="first-screen">
        <div class="carousel-images">
            <img src="/images/dist/first-screen_background/Background_main1.jpg" alt="Background 1" class="active">
            <img src="/images/dist/first-screen_background/Background_main2.jpg" alt="Background 2">
            <img src="/images/dist/first-screen_background/Background_main3.jpg" alt="Background 3">
        </div>
        <div class="carousel-overlay"></div>
        <h1 class="first-screen__heading">ФИТНЕС-КЛУБ SPORTAREA</h1>
        <ul class="first-screen__list">
            <li class="first-screen__item">Самая современная система очистки бассейна</li>
            <li class="first-screen__item">Тренеры с опытом работы более 10 лет</li>
            <li class="first-screen__item">6 тренажерных залов и спа зона </li>
        </ul>
        <a href="#" class="button-detail">Подробнее</a>
    </section>

    <script>
        let currentIndex = 0;
        const images = document.querySelectorAll('.carousel-images img');
        const totalImages = images.length;

        function switchImage() {
            images[currentIndex].classList.remove('active');
            currentIndex = (currentIndex + 1) % totalImages;
            images[currentIndex].classList.add('active');
        }

        setInterval(switchImage, 4000); // Смена изображений каждые 3 секунды
    </script>

    <script>
        // Убедимся, что DOM загружен
        document.addEventListener("DOMContentLoaded", function () {
            const logoLink = document.getElementById('left-bar__logo-link');

            // Добавляем обработчик клика на логотип
            logoLink.addEventListener('click', function (e) {
                e.preventDefault(); // Отменить переход по ссылке

                // Плавно прокручиваем на верх страницы с помощью scrollIntoView
                document.documentElement.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            });
        });
    </script>

    <section class="about">
        <h2 class="about__heading">SPORTAREA</h3>
            <p class="about__lead">Семейный фитнес-клуб SportArea — лучшее решение на рынке спортивных комплексов.</p>
            <p class="about__paragraph">Фитнес-центр "SportArea" — это обновленный и на сегодняшний день самый крупный
                фитнес-центр в Казани.
                В просторы клуба площадью более 10 000 м² входят комплекс услуг: просторный тренажерный зал, кардиозал с
                панорамным остеклением,
                зал функционального тренинга, сайкл-студия, зал персонального тренинга, релакс-зона, школа танцев,
                уникальный зал единоборств.</p>
            <p class="about__paragraph">Приветливый персонал, внимательные, профессионально обученные инструкторы.
                Проблемы со спиной или суставами?
                После посещения всё будет в порядке! Эффективные групповые программы регулярно обновляются. Повторные
                фитнес-тестирования
                покажут улучшение большинства показателей физической подготовленности организма. Сердце станет более
                выносливым.</p>
    </section>

    <section class="category">
        <h2 class="category__heading">Водные сооружения</h2>
        <ul class="category__list">
            <li class="category__item">
                <img src="/images/dist/categories/Category01.jpg" alt="" class="category__img">
                <h3 class="category__sub-heading">Бассейн для водного поло</h3>
                <ul class="category__sub-list">
                    <li class="category__sub-item">– Ежедневная очистка бассейна</li>
                    <li class="category__sub-item">– Современный инвентарь</li>
                    <li class="category__sub-item">– Командные турниры</li>
                </ul>
            </li>
            <li class="category__item">
                <img src="/images/dist/categories/Category02.jpg" alt="" class="category__img">
                <h3 class="category__sub-heading">Малый бассейн для занятий</h3>
                <ul class="category__sub-list">
                    <li class="category__sub-item">– Секция для беременных</li>
                    <li class="category__sub-item">– Детская секция от 8 лет</li>
                    <li class="category__sub-item">– Танцевальная аквааэробика</li>
                </ul>
            </li>
            <li class="category__item">
                <img src="images/dist/categories/Category03.jpg" alt="" class="category__img">
                <h3 class="category__sub-heading">Большой бассейн для плавания</h3>
                <ul class="category__sub-list">
                    <li class="category__sub-item">– Дорожка спортивного плавания</li>
                    <li class="category__sub-item">– Индивидуальные занятия</li>
                    <li class="category__sub-item">– Глубина до 2 метров</li>
                </ul>
            </li>
        </ul>

        <h3 class="category__heading">Красота</h3>
        <ul class="category__list">
            <li class="category__item">
                <img src="images/dist/categories/Category04.jpg" alt="" class="category__img">
                <h3 class="category__sub-heading">Зал для йоги</h3>
                <ul class="category__sub-list">
                    <li class="category__sub-item">– Просторный светлый зал</li>
                    <li class="category__sub-item">– Вместимость до 10 человек</li>
                    <li class="category__sub-item">– Групповые и одиночные занятия</li>
                </ul>
            </li>
            <li class="category__item">
                <img src="images/dist/categories/Category05.jpg" alt="" class="category__img">
                <h3 class="category__sub-heading">Зал для пилатеса</h3>
                <ul class="category__sub-list">
                    <li class="category__sub-item">– Занятия для будущим мам</li>
                    <li class="category__sub-item">– Современные тренажеры</li>
                    <li class="category__sub-item">– Формирование здоровой осанки</li>
                </ul>
            </li>
            <li class="category__item">
                <img src="images/dist/categories/Category06.jpg" alt="" class="category__img">
                <h3 class="category__sub-heading">Салон красоты</h3>
                <ul class="category__sub-list">
                    <li class="category__sub-item">– Качественный массаж</li>
                    <li class="category__sub-item">– Магазин уходовой косметики</li>
                    <li class="category__sub-item">– Профессиональные мастера</li>
                </ul>
            </li>
        </ul>

        <h4 class="category__heading">Единоборства</h4>
        <ul class="category__list">
            <li class="category__item">
                <img src="images/dist/categories/Category07.jpg" alt="" class="category__img">
                <h3 class="category__sub-heading">Вольная борьба</h3>
                <ul class="category__sub-list">
                    <li class="category__sub-item">– Участие в чемпионатах</li>
                    <li class="category__sub-item">– Занятия для мальчиков от 10 лет</li>
                    <li class="category__sub-item">– Тренеры - мастера спорта </li>
                </ul>
            </li>
            <li class="category__item">
                <img src="images/dist/categories/Category08.jpg" alt="" class="category__img">
                <h3 class="category__sub-heading">Самбо</h3>
                <ul class="category__sub-list">
                    <li class="category__sub-item">– Групповые занятия по 6 человек</li>
                    <li class="category__sub-item">– Развитие виносливости и силы</li>
                    <li class="category__sub-item">– Профессиональные тренеры</li>
                </ul>
            </li>
            <li class="category__item">
                <img src="images/dist/categories/Category09.jpg" alt="" class="category__img">
                <h3 class="category__sub-heading">Дзюдо</h3>
                <ul class="category__sub-list">
                    <li class="category__sub-item">– 2 тренировочных зала</li>
                    <li class="category__sub-item">– Групповые занятия по 8 человек</li>
                    <li class="category__sub-item">– Профессиональные тренеры</li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="videos">
        <h2 class="videos__heading">О клубе</h2>
        <ul class="videos__list">
            <li class="videos__item">
                <img src="images/dist/videos/Video01.jpg" alt="" class="videos__preview">
                <a href="https://www.youtube.com/watch?v=w0IjocBqEak&ab_channel=%D0%90%D1%80%D0%B5%D0%BD%D0%B0%D0%A4%D0%B0%D0%B1%D1%80%D0%B8%D0%BA%D0%B0%D0%97%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%D1%8C%D1%8F"
                    target="_blank" class="videos__play">
                    <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M28.6667 48.9464V25.0531C28.6672 24.7541 28.7481 24.4608 28.9009 24.2039C29.0537 23.9469 29.2728 23.7358 29.5353 23.5927C29.7977 23.4495 30.0938 23.3796 30.3926 23.3902C30.6913 23.4008 30.9817 23.4916 31.2334 23.6531L49.82 35.5964C50.0554 35.7472 50.249 35.9547 50.3831 36.2C50.5173 36.4452 50.5876 36.7202 50.5876 36.9997C50.5876 37.2792 50.5173 37.5542 50.3831 37.7995C50.249 38.0447 50.0554 38.2523 49.82 38.4031L31.2334 50.3497C30.9817 50.5111 30.6913 50.6019 30.3926 50.6126C30.0938 50.6232 29.7977 50.5533 29.5353 50.4101C29.2728 50.267 29.0537 50.0558 28.9009 49.7989C28.7481 49.542 28.6672 49.2487 28.6667 48.9497V48.9464Z"
                            fill="white" fill-opacity="0.8" />
                        <path
                            d="M0.333374 36.9997C0.333374 16.7497 16.75 0.333008 37 0.333008C57.25 0.333008 73.6667 16.7497 73.6667 36.9997C73.6667 57.2497 57.25 73.6663 37 73.6663C16.75 73.6663 0.333374 57.2497 0.333374 36.9997ZM37 5.33301C28.6015 5.33301 20.547 8.66931 14.6083 14.608C8.66967 20.5466 5.33337 28.6012 5.33337 36.9997C5.33337 45.3982 8.66967 53.4527 14.6083 59.3914C20.547 65.33 28.6015 68.6663 37 68.6663C45.3986 68.6663 53.4531 65.33 59.3918 59.3914C65.3304 53.4527 68.6667 45.3982 68.6667 36.9997C68.6667 28.6012 65.3304 20.5466 59.3918 14.608C53.4531 8.66931 45.3986 5.33301 37 5.33301Z"
                            fill="white" fill-opacity="0.8" />
                    </svg>
                </a>
                <h3 class="videos__video-heading">Один день из жизни фитнес-клуба</h3>
            </li>
            <li class="videos__item">
                <img src="images/dist/videos/Video02.jpg" alt="" class="videos__preview">
                <a href="https://www.youtube.com/watch?v=Gxj3HGu1M8E&ab_channel=FitGuide" target="_blank"
                    class="videos__play">
                    <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M28.6667 48.9464V25.0531C28.6672 24.7541 28.7481 24.4608 28.9009 24.2039C29.0537 23.9469 29.2728 23.7358 29.5353 23.5927C29.7977 23.4495 30.0938 23.3796 30.3926 23.3902C30.6913 23.4008 30.9817 23.4916 31.2334 23.6531L49.82 35.5964C50.0554 35.7472 50.249 35.9547 50.3831 36.2C50.5173 36.4452 50.5876 36.7202 50.5876 36.9997C50.5876 37.2792 50.5173 37.5542 50.3831 37.7995C50.249 38.0447 50.0554 38.2523 49.82 38.4031L31.2334 50.3497C30.9817 50.5111 30.6913 50.6019 30.3926 50.6126C30.0938 50.6232 29.7977 50.5533 29.5353 50.4101C29.2728 50.267 29.0537 50.0558 28.9009 49.7989C28.7481 49.542 28.6672 49.2487 28.6667 48.9497V48.9464Z"
                            fill="white" fill-opacity="0.8" />
                        <path
                            d="M0.333374 36.9997C0.333374 16.7497 16.75 0.333008 37 0.333008C57.25 0.333008 73.6667 16.7497 73.6667 36.9997C73.6667 57.2497 57.25 73.6663 37 73.6663C16.75 73.6663 0.333374 57.2497 0.333374 36.9997ZM37 5.33301C28.6015 5.33301 20.547 8.66931 14.6083 14.608C8.66967 20.5466 5.33337 28.6012 5.33337 36.9997C5.33337 45.3982 8.66967 53.4527 14.6083 59.3914C20.547 65.33 28.6015 68.6663 37 68.6663C45.3986 68.6663 53.4531 65.33 59.3918 59.3914C65.3304 53.4527 68.6667 45.3982 68.6667 36.9997C68.6667 28.6012 65.3304 20.5466 59.3918 14.608C53.4531 8.66931 45.3986 5.33301 37 5.33301Z"
                            fill="white" fill-opacity="0.8" />
                    </svg>
                </a>
                <h3 class="videos__video-heading">Обзорная экскурсия по фитнес-клубу</h3>
            </li>
        </ul>
    </section>

    <footer class="main-footer">
        <div class="footer-top">
            <div class="footer-logo">
                <img src="images/dist/logo.svg" alt="" class="logo__img">
            </div>
            <ul class="footer-main-menu">
                <li class="footer-main-menu__item">
                    <a href="subscriptions.html" class="footer-main-menu__link">ГАЛЕРЕЯ</a>
                </li>
                <li class="footer-main-menu__item">
                    <a href="trainers.html" class="footer-main-menu__link">ТРЕНЕРЫ</a>
                </li>
                <li class="footer-main-menu__item">
                    <a href="contacts.html" class="footer-main-menu__link">КОНТАКТЫ</a>
                </li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p class="footer-text">(c) SportArea 2024. Все права защищены.</p>

        </div>
    </footer>
</body>